<h1>Memory Game</h1>

<h3>What do you want to do?</h3>
<a asp-controller="Card" asp-action="Index">Play a game</a>
<a asp-controller="Card" asp-action="AddCard">Add memory cards</a>
<a asp-controller="Card" asp-action="ListAll">View current list of cards</a>
<a asp-controller="Card" asp-action="ClearAll">Clear database</a>
